<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LW90R7BGQC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LW90R7BGQC');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo-fvideos-download.png') }}" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6460329668273066"
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px;" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/"><img style="width:100px;margin-top:-7px" alt="Facebook Video Downloader" src="../static/img/fbdown.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li style="display:none">
                            <a href="https://fvideos-download.com/">Video Downloader</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-question-sign"></span> How to? <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/how-to-download-facebook-videos">How to use fvideos-download.com?</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/how-to-download-private-facebook-videos-online">How to use Private video Downloader?</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical"></span> More <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/private-downloader"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Private Video Downloader</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a target="_blank" href="http://downvideo.net/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Facebook Video Downloader (2nd Server) <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a target="_blank" href="https://twdown.net/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Twitter Video Downloader <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ url_for('contact') }}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="jumbotron">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <center>
                        <a href="/"><img class="img-responsive" src="../static/img/fbdown.png" alt="Download Facebook Videos" title="Facebook Video Downloader Online" width="300px"></a>
                        <h2 style="font-size:24px;margin-top:1%;">Facebook Video Downloader</h2>
                        <h1 style="margin-top: 0%;font-size:26px;"><small>Contact us</small></h1>
                    </center>
                    <div class="col-md-6 col-md-offset-3">
                        <form id="form" method="POST" action="/contact">
                            <div class="form-group">
                                <label for="name">Name: *</label>
                                <input class="form-control input-lg" id="name" name="name" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email: *</label>
                                <input class="form-control input-lg" id="email" name="email" type="email" required>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject: *</label>
                                <input class="form-control input-lg" id="subject" name="subject" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="video_link">Video URL: <span class="text-muted">(optional)</span></label>
                                <input class="form-control" id="video_link" name="video_link" type="text">
                            </div>
                            <div class="form-group">
                                <label for="message">Message: *</label>
                                <textarea class="form-control input-lg" id="message" name="message" required></textarea>
                            </div>
                            <input style="float:right" type="submit" id="submit" class="btn btn-primary input-lg" value="Send Message"><br>
                            <div id="message_status" class="alert alert-success" role="alert" style="margin-top:10%;display:none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well col-md-12">
        <center>
            <strong>Facebook Video Downloader Online</strong><br>
            <a href="/how-to-download-facebook-videos">How to Download Facebook Videos</a> |
            <a href="/terms">Terms of Use</a> |
            <a href="/privacy">Privacy Policy</a> |
            <a href="/contact">Contact us</a> |
            <a href="/about">About</a><br>
            fvideos-download does not host any videos on its servers. All videos that you download are hosted on Facebook's CDNs.<br>
            <p><strong>fvideos-download (formerly fvideos-download) is a Social Media Services website and is not associated by any means to Facebook or the Facebook brand and doesn't have anything to do with Meta Platforms, Inc. <a href="/disclaimer">Read the full Disclaimer</a>.</strong></p>
        </center>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2024 fvideos-download.com. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
